- sort ||= BlogPost::DEFAULT_SORT

select.form-control#sort-blog-posts.mb-3
  option[value='created_at desc' selected=(sort.eql?('created_at desc'))]= 'created_at DESC'
  option[value='created_at asc' selected=(sort.eql?('created_at asc'))]= 'created_at ASC'
